<form novalidate [formGroup]="babyForm" (ngSubmit)="onSubmit(babyForm)">
<div class="container">
  <div class="row">
    <div class="example-container">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-select formControlName="gender" placeholder="Gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="other">Other</mat-option>
            <mat-option value="none">None</mat-option>  
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="Birthday">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Special Needs">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="address" placeholder="Address">
        </mat-form-field>
        <br>
        <table class="example-full-width" align="center" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput formControlName="city" placeholder="City">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput formControlName="zipCode" #zipCode maxlength="4" placeholder="Zip Code">
            <mat-hint align="end">{{zipCode.value.length}} / 4</mat-hint>
          </mat-form-field></td>
        </tr></table>
        <br>
    </div>
    <div class="button-row">
      <button mat-flat-button>Submit</button>
    </div>
  </div>
</div>
<br>
</form>